@model List<ShopSphereMVC.Models.Order>

<h2>My Orders</h2>

<table class="table">
    <tr>
        <th>Order Id</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Action</th>
        <th>Delivery Status</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.OrderDate</td>
            <td>₹@item.TotalAmount</td>
            <td>@item.Status</td>

            <td>
                @if(item.Status != "Paid")
                {
                    <a asp-controller="Payments"
                       asp-action="Pay"
                       asp-route-orderId="@item.Id"
                       asp-route-amount="@item.TotalAmount"
                       class="btn btn-success">
                        Pay Now
                    </a>
                }
                else
                {
                    <span class="badge bg-success"> Paid </span>
                }
            </td>
            <td>
                @if(item.Status == "Paid")
                {
                    <span class="badge bg-success">
                        @item.DeliveryStatus
                    </span>
                }
                else
                {
                    <span class="badge bg-danger">
                        Payment Pending
                    </span>
                }
            </td>
        </tr>
    }
</table>